[Desktop Entry]
Encoding=UTF-8
Name=Link to robothand.jpg
Type=Link
URL=https://github.com/decantr/decantr.github.io/blob/master/resources/images/robothand.jpg
Icon=text-html
